h3{
  color: #193466;
  text-align: left;

}
li{
  color: #333e4f;
}
ul{
  color: #2be5b7;
}

div{
  color: #ffff;
  text-align: center;
}

table{
    border:2px solid black ;
    width: 500px;
}

th{
  border:1px solid black ;
  background-color: #c4daff;
}

td{
  border:1px solid black ;
  background-color: #ffff;
}
